<html class="no-js" lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tableau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/tab.css') }}">
  </head>


<body>
  <a href="/form_ajout">
    <input type="button" value="add entrée"/>
  </a>

<table class="table-expand">
  <thead>
    <tr class="table-expand-row">
      <th width="200">Date</th>
      <th>Description</th>
      <th width="150">Status</th>
    </tr>
  </thead>
    <tbody>
   {% for row in rows %}
        <tr class="table-expand-row" data-open-details>
        <td>{{row["date_modif"]}}</td>
        <td> {{row["description"]}}</td>
        <td> {{row["statut"]}} <span class="expand-icon"></span></td>
        <td> <button type="button" onclick="alert({{row["id"]}})">{{row["id"]}}</button></td>
        </tr>

          <tr class="table-expand-row-content">
            <td colspan="8" class="table-expand-row-nested">
              <p> {{row["texte"]}} </p>
            </td>
          </tr>
    {% endfor %}


    <tr class="table-expand-row" data-open-details>
      <td>August 15</td>
      <td>Je suis une Description</td>
      <td>Je suis un statut <span class="expand-icon"></span></td>
      <td> <button type="button" onclick="alert('Hello world!')">Click Me!</button> </td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
    </tr>


  </tbody>
</table>

<script src="{{ url_for ('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for ('static', filename='js/tab.js') }}"></script>
</body>
